@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #eeb3ff;
}

p {
    font-family: 'Lovers Quarrel', cursive;
}

.container-all {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.advice-containerBG {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
}

@media screen and (max-width: 550px) {
    .advice-containerBG {
        width: 100vw;
        height: 100vh;
        display: flex;
        background: #00000075;
        z-index: 20;
    }

    .advice-container {
        width: 70%;
        padding: 5px;
        background: #ffffff;
    }

    .advice-container h2 {
        font-size: 22px;
        font-weight: 500;
        text-align: center;
    }

    .phone-container {
        display: flex;
        justify-content: center;
        margin-top: 8px;
        margin-bottom: 5px;
    }

    .phone-container i {
        font-size: 60px;
        color: #ab14d4;
        animation: 2s infinite;
        animation-name: rotate-phone;
    }

    @keyframes rotate-phone {
        0% {
            transform: rotateZ(1deg);
        }

        60% {
            transform: rotateZ(-90deg);
        }

        75% {
            transform: rotateZ(-90deg)
        }
    }
}

#flex-container {
    display: flex;
    justify-content: center;
    transition: transform 500ms;
    transform: translateY(.1px)
}

#flex-container:hover {
    transform: translateY(-15px)
}

#letter {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #be6398;
    overflow: hidden;
}

#triangle-top {
    position: absolute;
    top: 0;
    border-right: 151px solid transparent;
    border-bottom: 115px solid #e97cbb;
    border-left: 151px solid transparent;
    transform: rotateX(0.5turn);
    filter: drop-shadow(0 -3px 0 #c7679f);
    z-index: 9;
}

.triangle-left {
    height: 100%;
    position: absolute;
    left: 0;
    border-top: 100px solid transparent;
    border-left: 150px solid #e97cbb;
    border-bottom: 100px solid transparent;
    filter: drop-shadow(5px -3px 0 #ac5688);
    z-index: 6; 
}

#hearth {
    width: 50px;
    position: absolute;
    top: 78px;
    filter: drop-shadow(3px 0 0 #844b94);
    transition: transform 500ms 100ms;
    z-index: 10;
}

.triangle-right {
    height: 100%;
    position: absolute;
    right: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid #e97cbb;
    filter: drop-shadow(-1px -3px 0 #ac5688);
    border-bottom: 100px solid transparent;
    z-index: 6;
}

.triangle-bottom-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 151px solid transparent;
    border-bottom: 100px solid #e97cbb;
    filter: drop-shadow(-8px 1px 0 #d36fa9);
    z-index: 7;
}

.triangle-bottom-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 151px solid transparent;
    border-bottom: 100px solid #e97cbb;
    filter: drop-shadow(8px 1px 0 #d36fa9);
    z-index: 7;
}

#ctn-letter {
    width: 260px;
    height: 174px;
    padding: 4px 4px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 11px;
    font-size: 18px;
    background: #ffffff;
    z-index: 5;
    transition: all 1s;
    animation: 1.5s forwards;
}

#btn-container {
    width: 635px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    opacity: 0;
}

#btn-container button {
    font-size: 25px;
    margin: 2px;
    padding: 0 5.5px;
    color: #e97cbb;
    background: #ffffff;
    border-radius: 50%;
    border: none;
    outline: none;
}

#arrow-left {
    opacity: 0;
    transition: opacity 900ms 240s;
}

#arrow-right {
    transition: opacity 800ms;
}

#p-container {
    display: none;
    height: 100%;
    padding: 3px 6px;
    font-size: 1em;
    line-height: 0.9;
    text-align: justify;
    transition: opacity 500ms 300ms;
}

#p-container p:first-child {
    margin-bottom: 18px;
}

#vid-container {
    height: 100%;
    padding: 0 4px;
    position: fixed;
    opacity: 0;
    transition: opacity 500ms 300ms;
    transform: rotateY(0.5turn);
}

#vid-container iframe {
    width: 512px;
    height: 98.6%;
    padding-bottom: 4px;
}

#final-container {
    width: 100%;
    height: 100%;
    padding-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    transition: opacity 500ms 300ms;
}

#final-container audio {
    width: 90%;
    outline: none;
}


.title {
    font-size: 26px;
    position: fixed;
    bottom: 0;
    color: #d31082;
}

#first {
    transition: opacity 500ms;
}

#second {
    opacity: 0;
}

#third {
    opacity: 0;
}

#fourth {
    opacity: 0;
}

.red-hearth {
    width: 1em;
    height: 1em;
    transform: translate(-3px, 3px);
}

@keyframes open-letter {
    0% {
        transform: translateY(0px);
    }
    
    30% {
        transform: translateY(-190px);
    }
    
    65% {
        transform: translateY(-122px);
        z-index: 12;
    }
    
    70% {
        width: 260px;
        height: 174px;
        font-size: 18px;
        transform: translateY(-90px);
        z-index: 12;
    }

    100% {
        width: 520px;
        height: 280px;
        font-size: 35px;
        transform: translateY(-90px);
        z-index: 12;
    }
}

@keyframes rotate {
    0% {
        width: 520px;
        height: 280px;
        font-size: 35px;
        transform: translateY(-90px);
        z-index: 12;
    }

    100% {
        width: 520px;
        height: 280px;
        font-size: 35px;
        transform: translateY(-90px) rotateY(0.5turn);
        z-index: 12;
        overflow-y: auto;
    }
}

@keyframes redo-rotate {
    0% {
        width: 520px;
        height: 280px;
        font-size: 35px;
        transform: translateY(-90px) rotateY(0.5turn);
        z-index: 12;
        overflow-y: auto;
    }

    100% {
        width: 520px;
        height: 280px;
        font-size: 35px;
        transform: translateY(-90px);
        z-index: 12;
    }
}
